.mobile-menu {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999 !important;
    opacity: 0;
    box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
}

.mobile-menu-container {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #18171d;
    padding: 2rem;
}

.mobile-menu.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);

}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}


.mobile-menu li {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 3px;
    color: #000000 ;
    background: linear-gradient(90deg, #2d2c2a 0%, #2d2b26 100%);
    padding: 0.8rem 1.2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.mobile-menu li:hover {
    color: #000000 ;
    background: linear-gradient(90deg, #2d2c2a 0%, #2d2b26 100%);
    transform: scale(1.1);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}



@media (max-width: 769px) {
    .mobile-menu {
        display: block;
    }
}

@media (max-width: 1025px) {
    .mobile-menu {
        display: block;
    }
}